<section [ngClass]="['containerPaginaPublica', classeCssCustomizado]">
  <div [ngClass]="['containerLogo', classeCssLogo]">
    <img
    src="assets/images/logo.svg"
    alt="Logo Devagram"
    class="logo"
    />
  </div>

    <div class="containerConteudo">
      <form>
        <ng-content select="[conteudoFormulario]"></ng-content>

        <app-button
        [texto]="textoBotaoSubmit"
        type="submit"
        classeCss="botaoPublico"
        (click)="aoSubmeter()">
      </app-button>
      </form>

    </div>
    <ng-content select="[rodape]"></ng-content>
</section>


