<!-- <br />
<br />
<br />

 <app-avatar></app-avatar>

 <app-button
  texto="Login"
  [desabilitar]="true">
  </app-button>

  <app-button
  texto="Cadastro">
  </app-button>

  <app-button
  texto="Outline"
  cor="outline">
  </app-button>

<br />
<br />
<br />

<app-upload-image
imagemPrevisualizacao="assets/images/avatar.svg">
</app-upload-image>

<br />
<br />
<br /> -->

<!-- <app-public-input
tipo="text"
imagem="assets/images/envelope.svg"
placeholder="Email"
[referenciaFormulario]="obterReferencia('nome')"
>
</app-public-input> -->

<app-login></app-login>
